<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		Pay2Pay
	</name>
	<settings>
		<variable>pay2pay_merchantid</variable>
		<name>ID мерчанта</name>
	</settings>
	<settings>
		<variable>pay2pay_secret</variable>
		<name>Секретный ключ</name>
	</settings>
        <settings>
		<variable>pay2pay_hidden</variable>
		<name>Скрытый ключ</name>
	</settings>
        <settings>
		<variable>pay2pay_paymode</variable>
		<name>Способ оплаты</name>
	</settings>
	<settings>
		<variable>pay2pay_testmode</variable>
		<name>Тестовый режим</name>
		<options>
			<name>Тестовый</name>
			<value>1</value>
		</options>
	</settings>
</module>