<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		Payeer
	</name>
	<settings>
		<variable>payeer_order_status</variable>
		<name>Статус ордера после оплаты:</name>
		<options>
			<name>новый</name>
			<value>0</value>
		</options>
		<options>
			<name>принят</name>
			<value>1</value>
		</options>
		<options>
			<name>выполнен</name>
			<value>2</value>
		</options>
		<options>
			<name>удален</name>
			<value>3</value>
		</options>
	</settings>
	<settings>
		<variable>payeer_merchanturl</variable>
		<name>URL мерчанта (укажите https://payeer.com/merchant/):</name>
	</settings>
	<settings>
		<variable>payeer_merchantid</variable>
		<name>Идентификатор магазина:</name>
	</settings>
	<settings>
		<variable>payeer_secret</variable>
		<name>Секретный ключ:</name>
	</settings>
	<settings>
		<variable>payeer_ip_list</variable>
		<name>IP - Фильтр:</name>
	</settings>
	<settings>
		<variable>payeer_email</variable>
		<name>Email для оповещений</name>
	</settings>
	<settings>
		<variable>payeer_log</variable>
		<name>Путь до журнала операций (например, /payeer_orders.log)</name>
	</settings>
</module>