<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		Best2Pay
	</name>
	<settings>
		<variable>sector</variable>
		<name>Sector ID</name>
	</settings>
	<settings>
		<variable>password</variable>
		<name>Пароль</name>
	</settings>
	<settings>
		<variable>mode</variable>
		<name>Режим оплаты</name>
		<options>
			<name>Тестовый режим</name>
			<value>test</value>
		</options>
		<options>
			<name>Рабочий режим</name>
			<value>0</value>
		</options>
	</settings>

</module>